<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <h2>B-Side Book Club<br /><small>An A Cappella Group</small></h2>
      <p>Portland, Oregon</p>
      <p><a href="/contactus.html">Contact Us</a></p>

      <div class="social-icons">
<a title="Facebook" href="https://www.facebook.com/bsidebookclub/"><i class=" col s3 fa fa-2x fa-facebook-square" aria-hidden="true"></i></a><a title="Instagram" href="https://www.instagram.com/bsidebookclub/"><i class="col s3 fa fa-2x fa-instagram" aria-hidden="true"></i></a><a title="Spotify" href="https://open.spotify.com/artist/7BwxXAyHegUPd1lkQeWYs9?si=mF7sPLGNSZGO4GPZB23WYg"><i class="col s3 fa fa-2x fa-spotify" aria-hidden="true"></i></a><a title="Soundcloud" href="https://soundcloud.com/bsidebookclub"><i class="col s3 fa fa-2x fa-soundcloud" aria-hidden="true"></i></a><a title="YouTube" href="https://www.youtube.com/channel/UCX7kpDHYwYUEIm0ziEBTxAQ"><i class="col s3 fa fa-2x fa-youtube" aria-hidden="true"></i></a>
</div>
      <p class="copyright">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    </div>
  </div>
</footer>
